* {margin:0;padding:0;}
body {background:#81DAF5;}
.contenedor {background:#2E9AFE;width:80%;margin:auto;margin-top:30px;}
.img_principal {width:95%;}
.img_principal .titulo {text-align:center;margin-top:10px;text-decoration:underline;
font-size:24px;font-weight:bold;}
.img_principal img {width:70%;margin:10px;float:left;height:500px;}
.img_principal .descripcion {margin:10px;}
.img_anterior {width:13%;float:left;margin-top:113px;}
.img_anterior .atras {background:black;border-radius:10px;padding:2px;color:white;
text-align:center;margin-bottom:3px;cursor:pointer;}
.img_anterior img {width:90%;margin-left:7px;height:100px;}
.img_siguiente {width:13%;float:left;margin-top:113px;margin-left:10px;}
.img_siguiente .siguiente {background:black;border-radius:10px;padding:2px;color:white;
text-align:center;margin-bottom:3px;cursor:pointer;}
.img_siguiente img {width:90%;margin-left:7px;height:100px;}
a {text-decoration:none;color:white;}
.footer {clear:both;text-align:center;margin-top:300px;}
